.{
    margin:0px;
    padding:0px;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing:border-box;
}

.header{
    display:flex;
}

.headerleft{
    display:flex;
    text-align: center;
}

.logo{
    padding:20px;
    border-right: 1px solid #CCC;
}

.headeraddress{
    padding:20px;
}

.headeraddress h3{
    font-size: 18px;
    margin-bottom: 5px;
}

.headeraddress p{
    font-size:14px;
    font-
}

